.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #14191d !important;
}

.MuiButtonGroup-grouped:not(:last-of-type) {
  border-color: white !important;
}

.css-zqcytf-MuiButtonGroup-root {
  box-shadow: none !important;
}

.active-button {
  background-color: #7a8d9c !important;
}
