.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #7a8d9c !important;
}

.css-dmmspl-MuiFormGroup-root {
  height: 100px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #14191d !important;
}

.css-ahj2mt-MuiTypography-root {
  font-family: Roboto !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  margin: 0 0 0 1rem !important;
}

.css-dmmspl-MuiFormGroup-root {
  margin: 0 0 0 0.5rem;
}
